:root
{
    font-size:15px;
}
#depoimentos-id
{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3ffe4;
    padding: 100px 0px;
}
#titulo-depoimentos h2
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 60px;
    padding-left: 10%;
}
#container-geral-carrossel-depoimentos
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container-carrossel-depoimentos
{
    width: 100%;
    max-width: 1500px;
}
#container-itens-button
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrossel-depoimentos
{
    max-width: 100%;
    width: 100%;
    /* height: 350px;*/
    display: flex;
    align-items: center;
}

.item-carrossel-depoimentos
{
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    margin: 0px 40px;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.23);
}
.container-item-carrossel-depoimentos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.container-depoimento-carrossel
{
    display: flex;
    font-size: 0.9rem;
}
.container-depoimento-nome
{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0px;
}
.nome-pessoa-depoimento
{
    font-size: 1.1rem;
    padding-top: 5px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-weight: 500;
    color: #0E5D08;
}
.nome-pessoa-depoimento p
{
    margin: 0;
}
.vinculo-depoimento
{
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-weight: 500;
    padding-top: 5px;
    padding-right: 40px;
    color: #aaaaaa;
}
.vinculo-depoimento p
{
    margin: 0;
}
.depoimento
{
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.depoimento p
{
    margin: 0;
}
.container-img-carrossel-depoimentos
{
    object-fit: cover;
    object-position: top;
    padding: 30px 0px;
    margin-right: 50px;
    border-radius: 100%;
    width: 120px;
    height: 120px;
}
.aspas-1 img
{
    width: 32px;
    height: 25px;
    padding-right: 20px;
}
.aspas-2
{
    align-self: flex-end;
}
.aspas-2 img
{
    width: 32px;
    height: 25px;
    transform: rotate(180deg);
    padding-right: 20px;
    padding-bottom: 10px;
}
.btn-prev-carrossel-depoimentos
{
    width: 25px;
    height: 25px;
    padding-right: 20px;
    position: absolute;
    left: calc(50% - 650px);
    z-index: 1;
}
.btn-prev-carrossel-depoimentos img
{
    width: 25px;
    height: 25px;
}
.btn-next-carrossel-depoimentos
{
    width: 25px;
    height: 25px;
    padding-left: 20px;
    position: absolute;
    right: calc(50% - 650px);
    z-index: 1;
}
.btn-next-carrossel-depoimentos img
{
    width: 25px;
    height: 25px;
}
.btn-slick
{
    margin: 0;
}
.ponto-carrossel-depoimentos
{
    width: 10px;
    height: 10px;
    background-color: #aaaaaa;
    border-radius: 100px;
}
.slick-active .ponto-carrossel-depoimentos{
    background-color: #013600;
}
.carrossel-depoimentos .slick-dots
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 90%;
    padding-top: 20px;
}
@media(min-width: 1500px)
{
    #titulo-depoimentos h2
    {
        padding-left: 20%;
    }
}
@media(max-width: 1500px)
{
    .btn-prev-carrossel-depoimentos
    {
        left: 100px;
    }
    .btn-next-carrossel-depoimentos
    {
        right: 100px;
    }
}
@media(max-width: 1000px)
{
    .container-img-carrossel-depoimentos
    {
        margin-right: 30px;
    }
    .carrossel-depoimentos .slick-dots
    {
        width: 85%;
    }
}
@media(max-width: 900px)
{
    .container-depoimento-carrossel
    {
        font-size: 0.7rem;
    }
    .container-img-carrossel-depoimentos
    {
        width: 80px;
        height: 80px;
    }
    .item-carrossel-depoimentos
    {
        margin: 0px 25px;
    }
    .nome-pessoa-depoimento
    {
        font-size: 0.9rem;
    }
    .aspas-1 img
    {
        width: 25px;
        height: 19px;
        padding-right: 10px;
    }
    .aspas-2 img
    {
        width: 25px;
        height: 19px;
        transform: rotate(180deg);
        padding-right: 10px;
    }
    .btn-prev-carrossel-depoimentos
    {
        left: 90px;
    }
    .btn-next-carrossel-depoimentos
    {
        right: 90px;
    }
}
@media(max-width: 800px)
{
    .ponto-carrossel-depoimentos
    {
        width: 6px;
        height: 6px;
    }
    .slick-dots li
    {
        width: 10px;
        height: 10px;
    }
    #titulo-depoimentos h2
    {
        font-size: 2.3rem;
    }

}
@media(max-width: 750px)
{
    .item-carrossel-depoimentos
    {
        margin: 0px 25px;
    }
    .btn-prev-carrossel-depoimentos
    {
        left: 35px;
    }
    .btn-next-carrossel-depoimentos
    {
        right: 35px;
    }
    .carrossel-depoimentos .slick-dots
    {
        width: 90%;
    }
}
@media(max-width: 700px)
{
    .btn-prev-carrossel-depoimentos
    {
        width: 15px;
        height: 15px;
        padding-right: 10px;
    }
    .btn-prev-carrossel-depoimentos img
    {
        width: 15px;
        height: 15px;
    }
    .btn-next-carrossel-depoimentos
    {
        width: 15px;
        height: 15px;
        padding-left: 10px;
    }
    .btn-next-carrossel-depoimentos img
    {
        width: 15px;
        height: 15px;
    }
}

@media(max-width: 650px)
{
    .container-depoimento-carrossel
    {
        font-size: 0.5rem;
    }
    .container-img-carrossel-depoimentos
    {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }
    .nome-pessoa-depoimento
    {
        font-size: 0.7rem;
    }
    .vinculo-depoimento
    {
        font-size: 0.5rem;
        padding-top: 2px;
    }
    .aspas-1 img
    {
        width: 20px;
        height: 14px;
        padding-right: 7px;
    }
    .aspas-2 img
    {
        width: 20px;
        height: 14px;
        transform: rotate(180deg);
        padding-right: 7px;
    }
}

@media(max-width: 500px)
{
    .container-item-carrossel-depoimentos
    {
        flex-direction: column;
    }
    .container-img-carrossel-depoimentos
    {
        width: 40px;
        height: 40px;
        padding: 5px 0px;
        margin:0px;
    }
    .btn-prev-carrossel-depoimentos
    {
        display: none !important;
    }
    .btn-next-carrossel-depoimentos
    {
        display: none !important;
    }
    .carrossel-depoimentos
    {
        width: 360px;
    }
    .container-depoimento-nome
    {
        padding: 10px;
    }
    .item-carrossel-depoimentos
    {
        width: 260px;
        margin: 0px 8px;
    }
    .container-item-carrossel-depoimentos
    {
        width: 220px;
    }
    .container-depoimento-nome
    {
        align-items: center;
    }
    .nome-pessoa-depoimento
    {
        padding-right: 0px;
    }
    .vinculo-depoimento
    {
        padding-right: 0px;
    }
    .aspas-2 img
    {
        padding: 0;
    }
    #depoimentos-id
    {
        align-items: center;
    }
    #titulo-depoimentos h2
    {
        font-size: 2rem;
        padding-left: 0px;
    }
}
@media(max-width: 400px)
{
    .carrossel-depoimentos
    {
        width: 260px;
    }
    .container-depoimento-nome
    {
        padding: 10px;
    }
    .item-carrossel-depoimentos
    {
        width: 180px;
    }
    .container-item-carrossel-depoimentos
    {
        width: 150px;
    }
}