.root
{
    font-size: 15px;
    --verdeEscuro: #014b00;
}
body
{
    margin: 0;
}
@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: bold;
    src: local('Sifonn Pro'), url('../Fonts/SIFONN_PRO.woff') format('woff');
}

footer
{
    background-color: #014B00;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#conteudo-footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 25px 0px;
    flex-wrap: wrap;
}
#logo-destra-footer img
{
    width: 100px;
    height: 100px;
}
#titulo-nome-footer
{
    text-align: center;
    width: 100%;
    font-family: 'Sifonn Pro';
    padding-top: 10px;
}
#nome-empresa
{
    margin: 0;
    font-size: 1.5rem;
    padding-top: 10px;
}
#titulo-footer
{
    font-size: 1.1rem;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 25px;
}
#container-contatos-logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    min-width: 400px;
}
#reparticoes
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;   
}
#reparticao
{
    display: flex;
    flex-direction: column;
}
.contatos-redes-sociais
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
}
.contatos-redes-sociais p
{
    padding-left: 10px;
}
.forma-contato p
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.logo-rede-social img
{
    width: 25px;
    height: 25px;
}
#mapa-localizacao
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mapa
{
    width: 270px;
    height: 140px;
    background-color: white;
    border: 8px solid #013600;
}
#localizacao
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 270px;
    
}
#localizacao img
{
    width: 19px;
    height: 26px;
    padding-right: 10px;
}
#frase-empresa
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#frase
{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
#logo-citi img
{
    height: 15px;
    width: 30px;
    padding-left: 5px;
}
.img-frase-citi-back
{
    width: 10px;
    height: 10px;
    padding-left: 5px;
}
.img-frase-citi-next
{
    width: 10px;
    height: 10px;
    padding-right: 5px;
}
#img-frase-citi-coracao
{
    width: 15px;
    height: 15px;
    padding: 0px 5px;
}
/* Responsividade */
@media(max-width: 800px)
{
    footer{
       background-color:  #0E5D08;
    }
    #conteudo-footer
    {
        flex-direction: column;
        width: 100%;
    }
    #frase-empresa
    {
        padding-top: 10px;
    }
}
@media(max-width: 600px)
{
    #container-contatos-logo
    {
        flex-direction: column;
        min-width: 170px;
        width: 250px;
        padding-bottom: 10px;
    }
    #reparticoes
    {
        flex-direction: column;
        width: 100%;
    }
}
@media(min-width: 601px)
{
    #titulo-nome-footer
    {
        display: none;
    }
    #mapa-localizacao
    {
        display: none;
    }
}
@media(max-width: 600px)
{
    #conteudo-footer
    {
        padding-top: 70px;
    }
}