#publicacoes-id{
    background-color: #AAAAAA;
    height: 100vh;
    max-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECECEC;
}
.container-publicacoes{
    width: 85%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: left;
    flex-direction: column; 
}
#publicacoes-id h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}
@media (max-width:700px){
    #publicacoes-id{
        align-items: center;
    }
    #publicacoes-id h2{
        padding: 6% 0 6vh 0;
    }
}

#pub-central{
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 1200px;
    height: 60%;
}
.pub-button-carrossel{
    align-self: center;
    width: 30px;
    height: 30px;
}
#pub-carrossel-externo{
    width: 100%;
    overflow: hidden;
    background-color: #AAAAAA;
}
.pub-margin-box{
    margin: 0 30px 20px 30px;
    text-decoration: none;
}
.slick-dots li button:before{
    color: #F2E8E8;
    font-size: 0.8rem;
    opacity: 1;
}
.slick-dots li.slick-active button:before{
    color: #0E5D08;
    opacity: 1;
}
.pub-box-carrossel{
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.23);
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    height: 320px;
}
.pub-box-carrossel img{
    width: 100%;
    height: 250px;
    margin: 0;
    object-fit: cover;
}
.pub-box-carrossel p{
    padding: 4% 5%;
    margin: 0%;
    color: #0E5D08;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    
}

@media (max-width:550px){
    #pub-central{
        width: 60%;
    }
    .pub-button-carrossel{
        display: none;
    }
    .slick-dots li button:before{
        font-size: 0.6rem;
    }
    .pub-box-carrossel p{
        padding: 8px 18px;
        font-size: 0.8rem;
    }
}