:root{
    font-size: 15px;}
body{
    margin: 0;}
@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: bold;
    src: local('Sifonn Pro'), url('../Fonts/SIFONN_PRO.woff') format('woff');
}

#servicos-id{
    background-color: #AAAAAA;
    height: 100vh;
    max-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECECEC;
}
.container-servicos{
    width: 85%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: left;
    flex-direction: column; 
}

#servicos-titulo{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}
@media (max-width:700px){
    #servicos-id{
        align-items: center;
    }
    #servicos-titulo{
        padding: 6% 0 0 0;
    }
}
#servicos-scroll{
    display: -webkit-box;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 2%;
    overflow-x: auto;
}
#servicos-scroll::-webkit-scrollbar{
    height: 10px;
}
#servicos-scroll::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius:10px;
}
.servicos-scroll-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 280px;
    margin: 0 30px 10px 0;
    background-color: white;
    -webkit-box-shadow: 0px 0px 19px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 19px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 19px -10px rgba(0,0,0,1);
}
.box-top{
    width: 62px;
    height: 66px;
    margin: 10px;
    background: #013600;
    border-radius: 50px;
}
.box-top img{
    width: 40px;
    height: 40px;
    padding: 12px;
}

.box-center1{
    height: 42px;
    width: 100%;
}
.box-center1 h3{
    font-family: 'Sifonn Pro';
    font-weight: bold;
    text-align: center;
    color: #013600;
    font-size: 1rem;
    margin: 0 5px;
}
.box-center2{
    height: 120px;
    width: 100%;
}
.box-center2 p{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    color: #013600;
    margin: 12px;
}
.box-footer{
    height: 46px;
    width: 100%;
    background-color: #013600;
}
.box-footer p{
    font-family: 'Sifonn Pro';
    font-weight: bold;
    color: white;
    text-align: right;
    margin: 13px 8px 0 0;
}