:root
{
    font-size:15px;
}
#sobre-nos-id
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #F3FFE4;
    padding: 100px 0px;
}
#container-sobre-nos
{
    width: 80%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-titulo-sobre-nos
{
    width: 100%;
    align-self: flex-start;
}
#container-titulo-sobre-nos h2
{
    margin: 0;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: #013600;
}
#linha-sobre-nos
{
    margin-top: 5px;
    width: 100%;
    background-color: #013600;
    height: 1px;
}
#descricao-sobre-nos p
{
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: #0E5D08;
}
.titulo-missao-visao-valores h3
{
    margin: 0;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #013600;
}
.descricao-missao-visao-valores p
{
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #0E5D08;
    text-align: center;
}
#container-missao-visao-valores
{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    padding-top: 40px;
    position: relative;
}
.container-conteudo-missao-visao-valores
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1%;
    width: 28%;
}
#container-visao-valores
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#linha-missao-visao-valores
{
    display: none;
}
.container-visao
{
    padding-top: 60px;
}
.container-valores
{
    padding-top: 45px;
}
#container-missao
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
#img-visao img
{
    width: 50px;
    height: 15px;
}
#img-missao img
{
    width: 40px;
    height: 38px;
}
#img-valores img
{
    width: 40px;
    height: 30px;
}

@media(max-width: 900px)
{
    #container-missao-visao-valores
    {
        width: 97%;
    }
    .container-conteudo-missao-visao-valores
    {
        padding-right: 2%;
        padding-left: 2%;
    }
    #descricao-sobre-nos p
    {
        font-size: 1.2rem;
    }
}

@media(max-width: 700px)
{
    #container-titulo-sobre-nos h2
    {
        font-size: 2rem;
    }
    #descricao-sobre-nos p
    {
        font-size: 1rem;
    }
    .descricao-missao-visao-valores p
    {
        font-size: 0.9rem;
    }
    .titulo-missao-visao-valores h3
    {
        font-size: 1.2rem;
    }
}
@media(max-width: 600px)
{
    #container-sobre-nos
    {
        width: 95%;
    }
    #linha-missao-visao-valores
    {
        display: block;
        height: auto;
        width: 1px;
        background-color: #013600;
    }
    #container-missao
    {
        position: unset;
        width: 50%;
        justify-content: center;
    }
    #container-missao-visao-valores
    {
        padding-top: 10px;
    }
    .container-conteudo-missao-visao-valores
    {
        padding-left: 3%;
        padding-right: 3%;
        width: 90%;
    }
    #container-visao-valores
    {
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .container-visao
    {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .missao-ordem .img-missao
    {
        order: 0;
    }
    .missao-ordem .titulo-missao-visao-valores
    {
        order: 1;
    }
    .missao-ordem .descricao-missao-visao-valores
    {
        order: 2;
    }
    #container-titulo-sobre-nos
    {
        text-align: center;
    }
    #descricao-sobre-nos p
    {
        text-align: center;   
        font-size: 0.9rem;
    }
    #linha-sobre-nos
    {
        width: 160px;
    }
    
}